[2016-06-22 15:29] Ajaxy opened #1 "Build failed for Android"
Такая ошибка:

					Appodeal.disableNetwork(network);
					        ^
  required: Context,String
  found: String
  reason: actual and formal argument lists differ in length

[2016-09-26 18:49] charlesbodman opened #2 "Incorrect documentation on appodeal.com"
Not sure if this is the correct place to put this.

https://www.appodeal.com/sdk/documentation?framework=9&full=1&platform=4

To initialize only interstitials use Appodeal.initializeAdType(appKey, Appodeal.INTERSTITIAL)

Should this just be `Appodeal.initialize(appKey, Appodeal.INTERSTITIAL)`?

[2016-09-26 22:02] charlesbodman opened #3 "appendStatus is not defined. (appodeal.js)"
https://github.com/appodeal/appodeal-cordova-plugin/blob/master/www/appodeal.js#L30

Missing declaration.

[2016-09-27 17:16] charlesbodman commented on #3
I do see what happened. It looks like appendStatus is a debug funtion used in the demo.
https://github.com/appodeal/appodeal-cordova-demo

[2016-09-30 06:55] NazarKozak commented on #1
@Ajaxy уже должно быть исправлено, попробуйте обновить плагин.

[2016-09-30 07:01] NazarKozak commented on #2
@charlesbodman you are right, it should be just ```initialize```. Sorry for mistake, I've fixed that already.

[2016-09-30 07:01] NazarKozak commented on #3
@charlesbodman fixed, please try updated plugin.

[2016-09-30 07:01] #3 closed

[2016-09-30 07:01] #2 closed

[2016-09-30 07:01] #1 closed

[2016-10-10 07:07] olegmelnik opened #5 "Error: exec proxy not found for :: AppodealPlugin :: initialize"
После установки в ionic проект и попытки инициализировать плагин:

[code]

[2016-10-17 11:57] #5 closed

[2016-10-24 01:41] numerized opened #6 "[ANDROID] not compatible with phonegap-plugin-push"
Apprently your plugin is not compatible with phonegap-plugin-push used by all ionic apps on Android only.

Read this, they explain how to manage the case:

https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/INSTALLATION.md#more-than-one-library-with-package-name-comgoogleandroidgms

Everything runs smoothly then I've installed : phonegap-plugin-push

[code]

[2016-10-24 09:38] numerized commented on #6
From Tanya Appodeal :

[code]

[2016-10-24 09:40] numerized commented on #6
From Tanya Appodeal :

[code]

[2016-10-24 10:15] NazarKozak commented on #6
@numerized solution from Tanya should work. It is works fine for you?

[2016-10-24 10:49] numerized commented on #6
I ll try and let you know.
Thanks a lot.

[2016-10-24 22:19] charlesbodman commented on #6
We are currently using
`<plugin name="phonegap-plugin-push" spec="~1.8.2">`
No issues thus far.

[2016-10-31 23:35] numerized commented on #6
Solution proposed by Tanya worked.

[code]

[2016-10-31 23:35] #6 closed

[2016-11-01 18:00] matrixreal opened #7 "error when compiling ?"
Hi,
since cordova ios 4.X still not stable i'm using cordova ios 3.9.2 and xcode 7
i'm facing errors when compiling
check the image attached
can you please create a new git repo for ios 3.9.2
thanks
![appodealerror](https://cloud.githubusercontent.com/assets/6823974/19900888/6bb091d2-a065-11e6-9e59-4aa76cceeed7.png)

[2016-11-02 20:15] NazarKozak commented on #7
@matrixreal Hi! Sorry for delay. I will try to rework callbacks with 3.x compatibility. Will update you till tomorrow.
Is there any other problems except callbacks (webViewEngine not found)?

[2016-11-02 20:36] matrixreal commented on #7
@NazarKozak no it's okay
only callbacks problems
thank you

[2016-11-02 20:47] matrixreal commented on #7
or you can just create new appodealplugin.m file for ios 3.9.2 and you put it in the same folder with for example appodealplugin-ios3.m and we just need to remove / rename files as we use it

[2016-11-02 22:10] NazarKozak commented on #7
@matrixreal i've made some changes and tested with Cordova ios@^3.9.2, it should work now.

[2016-11-03 09:57] NazarKozak commented on #7
@matrixreal is it working for you?

[2016-11-03 12:27] matrixreal commented on #7
@NazarKozak
yes it's works but i did notice that now it's times more time to load rewarded video than before

[2016-11-03 12:45] matrixreal commented on #7
@NazarKozak
also ... when we finish viewing the rewarded video we got white screen
this not happen before (appodeal 1.3.1)

[2016-11-03 13:17] NazarKozak commented on #7
@matrixreal what version of iOS SDK was in that you have used before?
I've tested rewarded video, works fine for me. Can you give me some details (device and ios ver, xcode ver). Also maybe you can send me log?

[2016-11-03 22:57] charlesbodman opened #8 "uses-sdk:minSdkVersion 9 cannot be smaller than version 14 declared in library [android:CordovaLib:unspecified:debug]"
We are currently trying to build for one of our apps and getting this error.

`java.lang.RuntimeException: Manifest merger failed : uses-sdk:minSdkVersion 9 cannot be smaller than version 14 declared in library [android:CordovaLib:unspecified:debug]`

Our cordova config has minSdkVersion set to 15

`<preference name="android-minSdkVersion" value="15"/> `

Any help would be great.

[2016-11-04 04:37] Tamplier commented on #8
Hi, @charlesbodman
Short way:
It looks like minSdkVersion from libs/android/cheetah-mobile/AndroidManifest.xml overrides your android-minSdkVersion. Or your android-minSdkVersion preference is just ignored.
You can just edit AndroidManifest.xml from our libs folder and change minSdkVersion.
Alternatively, you can use the following command to build and run your project:
`cordova run android -- --mi

[2016-11-23 11:55] yhwh opened #10 "Since the ios sdk 1.3.3 unable to compile on Cocoon"
Hi,

Since the update 2 days ago with the ios sdk 1.3.3, I'm not able to compile anymore with the cocoon cloud compiler on IOS. I get an issue while compiling Appodeal.o

`security: SecKeychainDelete: The specified keychain could not be found.`

See below the full log from Cocoon compiler .

`COMPILER ERROR:

Internal compiler error

CORDOVA LOG:

s/ArchiveIntermediates/Toy\ Hunt/BuildProductsPath

[2016-11-23 13:35] yhwh commented on #10
Did further investigation and tried to compile it with cordova 6.4

it seems there is an issue with resetUUID see below the partial cordova build log

`CompileC /Users/yhwh/Library/Developer/Xcode/DerivedData/ToyHunt-fesqrulscuqvifdkrmqzmoahqcab/Build/Intermediates/ToyHunt.build/Debug-iphonesimulator/ToyHunt.build/Objects-normal/x86_64/AppodealPlugin.o ToyHunt/Plugins/com.appodeal.plugin/AppodealP

[2016-11-23 14:00] yhwh commented on #10
@NazarKozak I can confirm the last changes regarding ios sdk 1.3.3 break the compilation.
I removed resetUUID references to do a test
https://github.com/yhwh/appodeal-cordova-plugin/commit/60061fa79f5db9640a8efb58e8d3c504d827b3e5

And now it compiles (on cocoon and cordova locally)

[2016-11-23 20:06] NazarKozak commented on #10
@yhwh sorry for that. Thanks for pointing!

[2016-11-23 20:06] #10 closed

[2016-11-24 09:34] NazarKozak commented on #7
@matrixreal do you still have problems with plugin?

[2016-11-26 10:55] KrylovAlexey commented on #7
when we finish viewing the rewarded video we got white screen. it is normal?

[2016-11-26 16:59] matrixreal commented on #7
@NazarKozak
@KrylovAlexey
you see ... we have the same problem .... white screen after the rewarded video

[2016-12-01 15:37] telekosmos opened #11 "[iOS] multiple errors on app startup"
Hi
First, environment:
- cordova 6.3.1
- cordova ios 4.2.1
- com.appodeal.plugin 1.15.2
- XCode 8.1
- OSX 10.11.6

We are facing multiple errors on app startup in XCode console:
[code]

We know there are higher versions of the plugin, but we'd like not to update (we've run into some problems trying...).

Any clarification about the errors? As we don't know whether the plugin is (definitely) obsole

[2016-12-07 09:48] telekosmos opened #12 "[iOS] XCode build errors"
Hi there
Our environment is:
- OSX 10.11.6
- XCode 8.1
- com.appodeal.plugin 2.1.0

The plugin was added after removing 1.15.2, which didn't display rewarded videos in android. So, we tried version 2.1.0, which seems to work great with android but in iOS environment we get so many errors as seen in the screenshot:
<img width="1401" alt="screen shot 2016-12-07 at 10 32 27" src="https://cloud.github

[2017-01-10 19:02] matrixreal opened #14 "App Transport Security and old plugin ?"
Hi,
since we use the appodeal plugin version 1.1.4 (wich is stable and the rewarded video is working wihout the white screen problem reported with 2.x version [here](https://github.com/appodeal/appodeal-cordova-plugin/issues/7) ) .... then we need a fix / adaptation for the ats enabled on the old appodeal plugin (1.1.4)
thank you

[2017-01-10 21:27] AnnaBai commented on #14
Thanks for the note. We will update it soon.
Anna

[2017-01-13 19:40] #8 closed

[2017-01-16 19:56] vintage commented on #7
Same issue here on iOS. Here's the output of the ionic info:

[code]

ionic plugin list

[code]

[2017-01-17 06:38] meeeeeepo commented on #7
@matrixreal  @vintage hello, can you please give us additional information? What devices did you use for tests, what iOS version and what ad network was it? Or you are getting white screen always after finishing rewarded video?

[2017-01-17 08:55] vintage commented on #7
Device: Iphone SE
System: iOS 10.2 (14C92)
Orientation: Landscape only
Ad network: eg. AdColony, but same situation occurs when forcing test mode and test ad from Appodeal is presented. After closing the add white screen hits you.

[2017-01-17 10:40] meeeeeepo commented on #7
@vintage @matrixreal @KrylovAlexey we found that white screen is a result of conflict with cordova-plugin-statusbar. When ad is closed cordova-plugin-statusbar is capturing wrong view and sets current webView frame (0,0,0,0). To solve this try removing cordova-plugin-statusbar from your project

[2017-01-17 11:08] vintage commented on #7
@meeeeeepo Thanks a lot, after removing the `cordova-plugin-statusbar` everything works well now! The reward video is presented, all the events are published to the app, the flow works as is should :) It's a great experience to use library with such support.

[2017-01-17 11:20] meeeeeepo commented on #7
@vintage you are welcome! If you will need that cordova-plugin-statusbar plugin then you can download it from here https://github.com/appodeal/cordova-plugin-statusbar, we've made some changes there so white screen shouldn't appear with that version of plugin

[2017-01-17 12:25] matrixreal commented on #7
@NazarKozak @meeeeeepo
thanks a lot
will give it a try
can you tell us where to download the biggest file on this plugin ?

[2017-01-18 12:39] NazarKozak commented on #14
@matrixreal We have updated plugin with ATS compatibility.
White screen issue is `cordova-plugin-statusbar` plugin issue, details here: https://github.com/appodeal/appodeal-cordova-plugin/issues/7 .

[2017-01-18 12:45] NazarKozak commented on #12
@telekosmos it looks like 0.10.x Appodeal iOS SDK is used here.
You don't need to download anything else, plugin is doing all the stuff from version 2.0.
Try to remove and re-add plugin again.

[2017-01-18 12:46] NazarKozak commented on #11
@telekosmos Hi! Is the problem you've got - white screen issue after rewarded video?

[2017-01-18 12:47] NazarKozak commented on #7
@matrixreal You don't need to download anything. Plugin already contains all the SDK's.

[2017-01-18 13:01] matrixreal commented on #7
@NazarKozak
Hi,
thanks a lot everything works good
i just have problem on my appodeal dashboard when i try to synchronise with admob and i get this error
![appodeal](https://cloud.githubusercontent.com/assets/6823974/22065045/a2871a2e-dd86-11e6-8705-f80bc3986b40.jpg)

[2017-01-18 13:21] NazarKozak commented on #7
@matrixreal Can you forward this to our support team? They should be able to help you with this.

[2017-01-18 13:24] vintage commented on #7
@matrixreal Try to disable the adblock :)

[2017-01-18 13:31] matrixreal commented on #7
@vintage
damnnnn man .... it works ... i was stuck on it since 3 days of try thank you man

@NazarKozak
i have a top chart game wich is connected to the old appodeal plugin (1.1.4)
do you think that if i update it with lastest version it will have impact on ecpm / revenue ?
thank you

[2017-01-18 14:38] NazarKozak commented on #7
@matrixreal it should improve revenue a it :)

[2017-01-23 01:16] matrixreal commented on #7
@NazarKozak
Hi,
can you kindly test the plugin with cordova ios 3.9.2 ? it still crash and get whote screen
i don't use cordova ios 4.x cause it still bug with other plugins that i need to use (iap plugins, iframe plugin etc ...)
thank you

[2017-01-23 08:42] matrixreal commented on #7
@NazarKozak
please can you do something ? the white screen is still happen after the rewarded video on cordova ios 3.9.2

[2017-01-24 12:49] vintage opened #18 "Banner overlaps the content"
I want to place a banner ad at the bottom of the page, but it overlaps the content of the screen. Is there any option to make it "separate" from the main content of the app? Something like the overlap flag in the https://github.com/sunnycupertino/cordova-plugin-admob-simple ?

I can probably add some margin-bottom to my content, but I don't know exactly what banner height is showing currently. Any

[2017-01-24 14:45] matrixreal commented on #7
@NazarKozak
hi ... i did spent 6 hours to test and test on different devices ios9 and ios10 with different cordova ios version and i did got these conclusions :

1- Cordova ios **4.3.1** wich is good but has bad performance and lag (specially when we use banner)
but it work good (banner , interstitial, rewarded video) no problem at all .... but since it's laggy and has bad performance and low fsp

[2017-01-27 08:33] meeeeeepo commented on #7
@matrixreal can you please give full list of plugins that you use with ios@3.9.2? i tested plugin with that ios version and didnt get white screen

[2017-01-27 12:33] meeeeeepo commented on #18
@vintage we are working on it, for now you can set margin-bottom according to the height of banner which equals 50 for iPhone and 90 for iPad

[2017-01-27 21:40] matrixreal commented on #7
@meeeeeepo
com.appodeal.plugin 2.1.0 "Appodeal Plugin"
com.rjfun.cordova.httpd 0.9.2 "CorHttpd"
com.telerik.plugins.wkwebview 0.6.10 "WKWebView Polyfill"
cordova-plugin-app-event 1.2.0 "Application Events"
cordova-plugin-compat 1.1.0 "Compat"
cordova-plugin-device 1.1.4 "Device"
cordova-plugin-dialogs 1.3.1 "Notification"
cordova-plugin-file 4.3.1 "File"
cordova-plugin-game-center 0.4.2 "Game Cent

[2017-02-02 09:33] meeeeeepo commented on #7
@matrixreal can you try removing status-bar-plugin to test if the reason of problem in it?

[2017-02-06 10:23] vintage opened #19 "Invalid banner orientation at first load"
The first load of the banner (after platform is ready and additional 5 seconds timeout) has invalid orientation. My whole application is only available in the landscape mode and the banner doesn't seem right at the first load.

[code]

![img_0371](https://cloud.githubusercontent.com/assets/729785/22642655/eabd09dc-ec5b-11e6-94fa-75d596d4d2eb.PNG)

The next one after ad rotation:

![img_0372](https

[2017-02-06 17:53] allexus39 commented on #19
Hi @vintage . This is a normal ad orientation. You have AdMob smart banners on both screenshots. Smart Banners are ad units that render screen-width banner ads on any screen size across different devices in either orientation. When an image ad isn't large enough to take up the entire allotted space, the image will be centered.

[2017-02-06 18:18] vintage commented on #19
@allexus39 According to the official AdMob docs - https://firebase.google.com/docs/admob/ios/banner the Smart banner size is `Screen width x 32|50|90` so it have to occupy full width of the device. Additionally docs says:

`Typically, Smart Banner ads on phones are full width x 50dp in portrait and full width x 32dp in landscape` and `When an image ad isn't large enough to take up the entire allot

[2017-02-07 09:06] meeeeeepo commented on #19
@vintage you can set banner background property to true, with that banner view will have background and you son't see app content

[2017-02-07 17:23] vintage commented on #19
@meeeeeepo Thanks, the `Appodeal.setBannerBackground(true);` worked as expected.

[2017-02-07 17:23] #19 closed

[2017-02-09 11:11] vintage commented on #18
@meeeeeepo I've started working on a small new app and the trick with the margin-bottom worked as desired. The banner doesn't overlap my content. I've tried same trick in my bigger apps, but it mess a bit with rest of the styling, didn't have enough time to investigate and check what's happening there. Do you have any roadmap when the functionality will be available in the core plugin? I've seen t

[2017-02-09 13:46] meeeeeepo commented on #18
@vintage you can test out branch that in develop now
`cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin#banner_overlaps_ios`
This is not compatible with status-bar-plugin at the moment, but you can test without status bar plugin for now

[2017-02-09 14:18] meeeeeepo commented on #7
@matrixreal https://cloud.githubusercontent.com/assets/6823974/22251644/d97f0ec8-e24b-11e6-9ceb-bd21d29a8242.jpg about this problem. I guess you got that error with iPhone 4/4s; have you tested it with later devices?

[2017-02-09 14:38] matrixreal commented on #7
@meeeeeepo
yes i did the test on iphone 4s
i don'y have other device

[2017-02-09 14:51] meeeeeepo commented on #7
@matrixreal this problem could be caused by small RAM memory size on that device, it takes some RAM memory to show rewarded video (more RAM when rewarded video is playable ad) so your local server got killed because of that memory lack; i tested with iphone 5 and higher and didn't reproduce that issue (Got it only with iPhone 4). I also couldn't reproduce white screen issue with later devices with

[2017-02-09 15:24] matrixreal commented on #7
@meeeeeepo
it's okay thank you
any way to solve that memory crash ? something like memory management ?

[2017-02-09 17:34] vintage commented on #18
@meeeeeepo I've uninstalled the appodeal plugin and re-added it using `cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin#banner_overlaps_ios`. Does the overlap requires some additional flag in the plugin initialization? I didn't see any difference  between master and this branch.

![img_0378](https://cloud.githubusercontent.com/assets/729785/22795266/5dd7e17a-eef6-11e6-8f40-e7

[2017-02-09 19:56] meeeeeepo commented on #18
@vintage yeah, sorry, you need to do `Appodeal.setBannerOverLap(true)`
And reinstall plugin pls, i fixed cordova source js

[2017-02-09 20:01] meeeeeepo commented on #7
@matrixreal our sdk actually needs about 50-150 MB of free RAM so i didin't find a way to fix that, the only way to fix it for you is to use cordova ios@3.9.2, I will investigate the white screen issue tomorrow and i hope i will find something to fix that

[2017-02-10 12:43] meeeeeepo commented on #7
@matrixreal well i tested rewarded video with real iPhone 4s, and i didn't get white screen. I received both playable ad and common rewarded video with no issues. I don't know why you are still affected by that bug

[2017-02-10 15:52] matrixreal commented on #7
@meeeeeepo
strange but it's okay .... (so your lastest tests was with cordova ios 3.9.2) right ?
so i will finally use ios 3.9.2 since it's the most stable and has good performance

[2017-02-11 08:02] meeeeeepo commented on #7
@matrixreal yeah, i was testing with ios@3.9.2

[2017-03-22 23:35] matrixreal opened #26 "callbacks ?"
HI,
i would like to know how to disable completely the callbacks ?
i got much cpu usage and i would like to remove them completely
thank you

[2017-03-24 06:13] matrixreal commented on #26
any news ?

[2017-03-24 06:18] meeeeeepo commented on #26
@matrixreal hello, for iOS callbacks are disabled by default, so if you haven't enabled them manually then they are not active

[2017-03-24 06:20] matrixreal commented on #26
but i see them in the log with simulator and with real device

[2017-03-24 06:21] meeeeeepo commented on #26
what exactly do you see in log? could you please paste it here?

[2017-03-24 06:25] matrixreal commented on #26
![appodeal](https://cloud.githubusercontent.com/assets/6823974/24282951/fc958014-1062-11e7-9a42-129d2d911738.jpg)

[2017-03-24 06:27] meeeeeepo commented on #26
that is not callback log, it's just appodeal SDK logs

[2017-03-24 06:28] matrixreal commented on #26
ok yes how to disable them please
thank you

[2017-03-24 06:32] meeeeeepo commented on #26
you can call Appodeal.setLogging(false) before initialising appodeal

[2017-03-24 06:38] matrixreal commented on #26
ok thank you
will you update admod sdk soon?

[2017-03-24 06:40] meeeeeepo commented on #26
yeah, we will soon update all the networks inside our SDK, can't say the exact date for now

[2017-03-24 07:03] matrixreal commented on #26
ok
last question what do this call exactly? Appodeal.setLogging(false);

[2017-03-24 07:21] matrixreal commented on #26
sorry this one  Appodeal.disableLocationPermissionCheck();

[2017-03-24 07:29] meeeeeepo commented on #26
this method disables user location tracking for appodeal SDK, this method will be updated with next release of plugin

[2017-03-24 17:46] matrixreal opened #28 "about chartboost ?"
Hi,
i'm using appodeal via cordova ios since 1 year
but i did never see chartboost interstitial style in my appodeal interstitial (in my games and apps)
also is it true that chartboost can have ecpm 100 usd with optimization and compaign tips ?
thank you

[2017-03-24 18:05] matrixreal opened #29 "dummy adapter?"
Hi,
sometimes i got this message dummy adapter ?
what's go wrong ?
![dummy](https://cloud.githubusercontent.com/assets/6823974/24307549/e839217c-10c4-11e7-9c1a-288456114674.jpg)

[2017-03-24 22:23] meeeeeepo commented on #29
it;'s ok, you can ignore it, admob is correctly working in SDK

[2017-03-24 22:24] meeeeeepo commented on #28
@matrixreal hey, it's better to ask about it your account manager or support

[2017-03-25 21:50] matrixreal commented on #28
@meeeeeepo
hi i did contact her but she did not reply
a i would like to send the update of my games today
i just would like to know why i did never see chartboost interstitial in my games
here is the call i use to initialise sdk
    var appKey = "0c08d023dd274caa487df5735f7e5e919b5de623cf1681cf";
    Appodeal.setLogging(false);
    Appodeal.disableLocationPermissionCheck();
    Appodeal.initialize

[2017-03-26 15:45] psimondk opened #30 "Rewarded Video"
Have interstitial working, but rewarded videos do not show.

Any special extra tricks for getting Rewarded Video's ? :)

[2017-03-27 06:39] Tamplier commented on #30
@psimondk, no tricks, it should work the same way as interstitials.
Can you clarify, the problem appears on android or iOS version?
Enable logging with Appodeal.setLogging (true) and send us log filtered by "Appodeal" tag.
Also, you can send us appodeal related code (initialization, caching, showing with related logic).

[2017-03-27 06:50] meeeeeepo commented on #28
@matrixreal i don't see chartboost ads for your app too, anyway i highly recommend you to try to  contact to the support again (or your account manager), i think they can fix it. The problem might be that your app is not active for chartboost interstitial

[2017-03-27 23:20] charlesbodman opened #31 "Background Thread"
Any chance we can move Appodeal to a background thread?

THREAD WARNING: ['AppodealPlugin'] took '40.682129' ms. Plugin should use a background thread.

[2017-03-28 09:20] Tamplier commented on #31
@charlesbodman
The most part of the work takes place in a background thread, but we need to call some methods in UI thread. That little part, which is executed in the main thread, leads to the warning.
Nothing to worry about.

[2017-03-28 17:22] psimondk commented on #30
Hi Alex,

This is what I get:

*2017-03-28 17:19:52 +0000 [Appodeal 1.3.9][debug] Rewarded video not yet
ready and will show when loaded*

*2017-03-28 17:19:52 +0000 [Appodeal 1.3.9][debug] Rewarded video not yet
ready and will show when loaded*

*2017-03-28 17:19:52 +0000 [Appodeal 1.3.9][debug] Rewarded video not yet
ready and will show when loaded*

*2017-03-28 17:19:52 +0000 [Appodeal 1.3.9][d

[2017-03-28 17:23] matrixreal commented on #26
@meeeeeepo
ok thank you
what are callbacks exactly ? what is the use of  ?

[2017-03-29 05:46] #31 closed

[2017-03-29 06:35] meeeeeepo commented on #26
@matrixreal callbacks are needed to catch some events occuring in appodeal SDK, like loading ads or showing them
You can read about it here: https://www.appodeal.com/sdk/documentation?framework=9&full=1&platform=4#p_4_6

[2017-03-29 06:57] matrixreal commented on #26
@meeeeeepo so it's better to disable them once we build the ipa for distribution ?

[2017-03-29 07:00] meeeeeepo commented on #26
@matrixreal It's all up to you, usually developers use callbacks to do something when needed event occured, for example if you are showing rewarded or skippable video you can give a reward to player when video was finished,

[2017-04-10 18:03] charlesbodman commented on #31
Thanks for the response

[2017-04-12 16:47] mchristofersenrealnets opened #32 "Incompatible with cordova-plugin-fcm"
I can't get this plugin to work on android in conjunction with cordova-plugin-fcm. It seems as though the appodeal plugin has conflicting dependencies with FCM. Appodeal requires com.google.android.gms version 9.0.0 even though the most up to date version is 10.2.0. Changing the gms version to 9.0.0 breaks FCM. Any insight here is helpful otherwise I may need to use a different provider.

[2017-04-12 22:07] manuelpaulo commented on #7
@meeeeeepo, care to detail what changes have you made on the cordova-plugin-statusbar?

I am having a problem with my app, which is webview based and the appodeal skd. I am getting white screens on some devices.

I think it might be related to creating two webview clients simultaneously, one for mine, and one for yours:
            android:name="com.cmcm.picks.webview.PicksBrowser"
            and

[2017-04-13 08:44] Tamplier commented on #7
hi, @manuelpaulo
In cordova-plugin-statusbar we made only iOS related changes. As I know, there were no any problems with statusbar on android.
Can you provide some details? Which version of cordova do you use? Do you use cordova CLI or some service to build your application? How frequently are you getting white screens? Maybe you found that you are getting white screens only after specific ad or

[2017-04-13 12:43] manuelpaulo commented on #7
Hi Tamplier,

I already shared all that info you're requesting with appodeal support (Laura Suco Torres).

Just trying to find more info on how to solve this, or else I will have to leave appodeal, as one star ratings are pilling up and I can't afford losing my top rank.

Big problem is I am unable to reproduce the issue. It's clearly a white screen freeze, as that's what the very unsatisfying use

[2017-04-13 12:59] manuelpaulo commented on #7
Some ideas:

Should I use shouldOverrideUrlLoading on my webview?
Maybe try setting setJavaScriptCanOpenWindowsAutomatically to TRUE?

Thanks.

[2017-04-21 02:25] kimalec opened #33 "FAILURE: Build failed with an exception. [Android]"
[code]

[2017-04-23 15:45] matrixreal opened #34 "sdk updates ?"
Hi,
any news about updating different network sdk ?
thanks

[2017-05-03 17:48] chrisq084 opened #35 "Ads works on Emulator but Fails to work on physical Phones"
Hi There,

So i Am using Appodeal on an ionic 3 project, i did everything  build everything seems to be working in my emulator but when i build for android and install it on my phone the ads dont load or work so i was wondering if there is something wrong or i can get some help fixing it thanks

Chris

[2017-05-03 19:08] chrisq084 commented on #35
problem solve by removing the  --prod when building the app

[2017-05-10 16:09] matrixreal commented on #34
any news?

[2017-05-10 18:54] NazarKozak commented on #34
Hi! Will be updated with new sdk releases, in around 2 weeks.

[2017-05-26 23:07] matrixreal commented on #34
Hi @NazarKozak
Any news ?
thank you

[2017-06-04 14:03] mscherer82 commented on #30
Same here with Andoid (SDK Version 22):
[code]

[2017-06-06 21:15] charlesbodman commented on #34
ETA?

[2017-06-07 17:57] NazarKozak commented on #34
@charlesbodman @matrixreal till the end of week update will be ready

[2017-06-14 16:32] NazarKozak commented on #34
@matrixreal @charlesbodman Hello! Try updated plugin on branch: [cordova2](/appodeal/appodeal-cordova-plugin/tree/cordova2).

[2017-06-15 01:20] matrixreal opened #37 "cordova 2 and the initialise call ?"
Hi,
is the Appodeal.initialize(appKey, Appodeal.INTERSTITIAL | Appodeal.BANNER | Appodeal.REWARDED_VIDEO); call deprecated ? because i can see it in the index.html example
thankd

[2017-06-15 08:18] NazarKozak commented on #37
@matrixreal What do you mean by not working? Any errors? or just not showing when you click on it?

[2017-06-15 08:18] #34 closed

[2017-06-15 08:19] NazarKozak commented on #33
@kimalec seems like other plugin adds play services with different version. Can you send me your plugin list?

[2017-06-15 08:20] NazarKozak commented on #32
@mchristofersenrealnets you can try changing appodeal's plugin.xml, just replace 9+ to 10+ on play services dependecie.

[2017-06-15 08:22] NazarKozak commented on #30
@mscherer82 seems like you are getting just 1 rewarded video item for your app in your location. Can you send me your appodeal appkey if issue not solved yet?

[2017-06-15 08:22] #29 closed

[2017-06-15 08:23] NazarKozak commented on #26
@matrixreal is it working for you now?

[2017-06-15 08:23] #18 closed

[2017-06-15 08:23] #14 closed

[2017-06-15 08:23] #12 closed

[2017-06-15 08:25] #11 closed

[2017-06-15 08:30] matrixreal commented on #37
not showing it say loaded or something

[2017-06-18 17:54] mscherer82 commented on #30
@NazarKozak `3b7266f6171d9ddfd07d80d277c5a274097c598486b5c068`

[2017-06-20 01:56] matrixreal commented on #37
it's working but it take much time than before the old sdk
anyway the admob sdk is still not updated

[2017-06-27 00:28] charlesbodman opened #38 "SDK 2.0 Skippable Videos removed?"
I noticed skippable videos has been removed from the newest 2.0 sdk.

Has this been merged into interstitial?

[2017-06-27 00:30] charlesbodman commented on #38
Got my answer, thanks

@char Yes, starting with SDK 2.0 static interstitial and skipppable video are now merged into just interstitial ad type. You can control what to serve using the dashboard app's settings, you can serve just statics, just videos or the preferable way, serve both.  This help integration as you can call "show" for interstitial and it would include videos as well.

Cheers

[2017-06-27 00:30] #38 closed

[2017-07-16 10:52] narf opened #39 "ionic install not working"
When trying to insqtall with ionic:
[code]

I have these errors:

[code]

[2017-07-31 06:56] rashnk commented on #39
any solution  ?

[2017-07-31 07:02] narf commented on #39
Oh, sorry for the late answer.
The solution was to add the plugin with
`cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin.git#cordova2`

But I encountered other problems and the project is on a hold right now.

[2017-08-01 06:07] rashnk commented on #39
cordova plugin add com.appodeal.plugin

[2017-08-09 13:40] RonnySchleicher opened #40 "Is it not possible to build a signed (!!!) APK with the current appodeal-cordova Plugin"
## important NOTE
❗️ The error occurs only when you create a **Signed APK** ❗️
If you create a 'normal' APK or a Debug Version is everything okay.

### Systems:
* Windows 10 Pro 64 bit, Core i7, 8GB RAM, all updates installed with Android Studio 2.3.3, Cordova 6.5
* iMac (Retina 5K, 27 Zoll), Core i7, 16GB RAM, macOS Sierra 10.12.6, all updates installed with Android Studio 2.3.3, Cordova 6.5
###

[2017-08-09 19:15] RonnySchleicher commented on #40
Nochmal in den Appodeal Chat geschrieben mit Verweis/Link auf das Issue und der Frage, ob das so der richtige Weg ist Fehler dieser Art zu melden.

[2017-08-10 04:38] Tamplier commented on #40
Hi, @RonnySchleicher!
**First problem.**
Appodeal plugin really supports API 9. The error occurs because of new version of google play services. You can choose between old google play services library (9.+) with minSDKVersion 9 and new google play services with minSDKVersion 14.
**Second problem**
If you met problem with 64K limitation of methods in dex, you can try our special build:
https://gith

[2017-09-24 07:50] matrixreal opened #44 "new methods explain ?"
Hi,
can anyone explain us what does thoses calls ? thanks

        Appodeal.setLogLevel(Appodeal.LogLevel.verbose); // set logging level (none || debug || verbose)
        Appodeal.setTesting(false); // set test mode enabled || disabled
        Appodeal.setBannerAnimation(false);
        Appodeal.setBannerBackground(false);
        Appodeal.setSmartBanners(false);
        Appodeal.set728x90Banners

[2017-09-24 10:23] NazarKozak commented on #44
@matrixreal hi! You can check it here, in advanced features section: https://www.appodeal.com/sdk/documentation?framework=9&full=1&platform=1#p_4_5

[2017-09-24 12:22] matrixreal opened #45 "App Transport Security has blocked a cleartext HTTP with new cordova?"
Hi,
i did update my cordova plugin to the latest
got this message with no ads
App Transport Security has blocked a cleartext HTTP
![appodeal3](https://user-images.githubusercontent.com/6823974/30782504-b5ff7684-a133-11e7-92f4-0a919a6d8036.png)

[2017-09-25 11:23] meeeeeepo commented on #45
@matrixreal hello, have you tried cleaning the project and rebuilding it? And are you able to get ads?

[2017-09-25 12:02] meeeeeepo commented on #45
And can you please provide a list of all plugins you are using?

[2017-09-25 12:06] matrixreal commented on #45
ok just give me 5 minutes to do it
but just to know when i back to v 3.0.0 everything work

[2017-09-25 12:15] matrixreal commented on #45
@meeeeeepo
i did try to clean the project and still same ... when i remove the plugin and back to v3.0.0 it work
here are list of plugins i use 👍
cc.fovea.cordova.purchase 7.0.2 "Purchase"
com.appodeal.plugin 3.0.2 "Appodeal Plugin"
cordova-plugin-compat 1.1.0 "Compat"
cordova-plugin-device 1.1.6 "Device"
cordova-plugin-dialogs 1.3.3 "Notification"
cordova-plugin-facebook4 1.9.1 "Facebook Connect"

[2017-09-25 13:53] meeeeeepo commented on #45
@matrixreal do you test on device or simulator? what xcode version do you use? what ios do you test with? I tried to reproduce with xcode 9 and iOS 10-11 but all was fine
And can you share your project is it is possible? If it is not possible then can you try to reproduce it on demo project and share it?

[2017-09-25 13:57] matrixreal commented on #45
@meeeeeepo
i did try on simulator ios 10.3 (ipad and iphone)
real device is iphone 5c ios 10.3.3
xcode 8.3.3
as i told you if i use appodeal plugin v 3.0.0 or earlier it works perfect

[2017-09-25 14:37] matrixreal commented on #45
@meeeeeepo
just switched to appodeal 3.0.0 and it work (but not with the new 3.0.2)
![appodeal4](https://user-images.githubusercontent.com/6823974/30814182-bc7ade40-a20f-11e7-9112-9b3fa8fc44d4.png)

[2017-09-25 14:45] meeeeeepo commented on #45
@matrixreal so I guess that with 3.0.2 you can't get ads?

[2017-09-25 14:48] matrixreal commented on #45
just to know here is the code that i use to initialise the sdk

function initialize() {
    var appKey = "bf4cf83e24be4aa009526e0a44de2409c821dabd0b24fa49";
    Appodeal.setLogging(false);
    Appodeal.disableLocationPermissionCheck();
    Appodeal.initialize(appKey, Appodeal.INTERSTITIAL | Appodeal.BANNER | Appodeal.REWARDED_VIDEO);

}

then later i call initialize();

@meeeeeepo yes it is 3.0.2

[2017-09-25 14:50] meeeeeepo commented on #45
@matrixreal  ok i will check more careful today and i hope i will give you a solution tomorrow

[2017-09-25 16:38] matrixreal commented on #45
@meeeeeepo
solved
but this is strange i did solve the problem by removing the **Appodeal.setLogging(false);** call from initialising the sdk

[2017-09-25 16:40] matrixreal commented on #45
@meeeeeepo
but please why you did not update for example the admob sdk ? the version on the appodeal sdk is **7.19.1** and the latest on google ads is **7.24.0**

[2017-09-26 09:09] meeeeeepo commented on #45
@matrixreal hello again, **Appodeal.setLogging(false);** was removed from new cordova, i assume that was the problem
Aboud admob - as you can see here [https://developers.google.com/admob/ios/rel-notes](url) admob removed support of **armv7s architecture** from 7.20.0 and later versions, so we can't update it, because our SDK supports this architecture

[2017-09-26 12:02] RonnySchleicher opened #46 "Comodo Malware Warning with a the Signed Android App if you use the cordova appodeal-cordova-plugin!"
## Important NOTE
❗️ The error occurs only when you create a **Signed APK** ❗️
If you create a 'normal' APK or a Debug Version is everything okay.

### Systems:
* Windows 10 Pro 64 bit, Core i7, 8GB RAM, all updates installed with Android Studio 2.3.3, Cordova 6.5
* iMac (Retina 5K, 27 Zoll), Core i7, 16GB RAM, macOS Sierra 10.12.6, all updates installed with Android Studio 2.3.3, Cordova 6.5
* Te

[2017-09-26 12:20] RonnySchleicher commented on #40
With the latest Version of
[code]
I can build a signed apk. Thanks or the help. I close the Issue.

[2017-09-26 12:20] #40 closed

[2017-09-27 08:39] RonnySchleicher commented on #46
Hello Appodeal.
There are news about the problem?

[2017-09-27 11:53] AndriyFliak commented on #46
Hi Ronny. We're investigated the issue and it occurs because Comodo detects Startapp as Malware. Startapp is in contact with Comodo and the issue should be resolved soon

[2017-09-27 12:20] matrixreal commented on #45
OK THANK YOU
how can i replace the Appodeal.setLogging(false); call in the new sdk ?

[2017-09-27 13:10] meeeeeepo commented on #45
@matrixreal you can use **Appodeal.setLogLevel(Appodeal.LogLevel.VERBOSE)**(or DEBUG or NONE instead of verbose)

[2017-09-27 17:31] matrixreal commented on #45
none is light false (disabled)?

[2017-09-27 17:37] RonnySchleicher commented on #46
## I have tried the following workaround:

I removed the startapp-3.6.2.jar in the Android Studio:

![image](https://user-images.githubusercontent.com/1914203/30927789-e498f7d0-a3b9-11e7-9599-b5faeb30ec67.png)

Now the **Comodo Mobile Security** say also is fine.  ✅
Also the app and the advertising seem to work without problems. ✅

The only thing that is disturbing is a toast message when initiali

[2017-09-27 19:28] meeeeeepo commented on #45
@matrixreal yeah

[2017-09-28 07:10] Tamplier commented on #46
@RonnySchleicher you can use the following line to disable toast message:
Appodeal.disableNetwork("startapp");
There are no side effects. Of course, Appodeal plugin won't be able to use startapp network in that case.

[2017-09-28 14:31] RonnySchleicher commented on #46
### Summary
* remove startapp-3.6.2.jar in the Android Studio
* add Appodeal.disableNetwork("startapp"); in the javascript code

Also is fine! No Malware Warning appears.
Thanks for the help.

[2017-09-28 14:31] #46 closed

[2017-10-26 03:29] lahed commented on #39
dont work video rewarded callback =(

[2017-10-26 04:53] Tamplier commented on #39
@lahed, please provide us more details about the problem.
Is that reproducible for both platforms (Android and iOS)?
What version (or what branch) of the plugin do you use (give us a link please)?
Can you share some parts of your code (Appodeal related)?
A log will be useful too (or you can send us your apk with description).

[2017-10-31 08:47] mifkys commented on #39
I created issue in ionic-cli repository with some information: https://github.com/ionic-team/ionic-cli/issues/2836 Maybe this issue cause next other issue: https://github.com/ionic-team/ionic-native/issues/2065 Need help!

[2017-10-31 13:37] mifkys commented on #39
https://github.com/appodeal/appodeal-cordova-maxdex-plugin.git also fails to install on android platform:

`ionic cordova plugin add https://github.com/appodeal/appodeal-cordova-maxdex-plugin.git`

[2017-11-01 03:12] Tamplier commented on #39
@mifkys, hi!
Try to update npm and cordova,  after that add --nofetch parameter to plugin add command.

[2017-11-01 07:01] mifkys commented on #39
ionic cut --nofetch param so problem still exists.

[2017-11-03 14:01] Tamplier commented on #39
@mifkys try to update your npm, node, cordova and git (most important, as far according to your log, the source of the problem is in "submodule" git command).
Also, can you share log from  C:\apps\history\node_modules\npm-debug.log?

[2017-11-07 06:56] mifkys commented on #39
updated special to latest versions:
npm 5.5.1
node 8.9.0
cordova 7.0.1
git 2.15.0.windows.1

Error is the same:

**npm-debug**:

[2017-11-07 14:00] Tamplier commented on #39
It's very strange. Can you run `submodule update --init --recursive` in your project folder and share output?

[2017-11-07 16:56] mifkys commented on #39
`submodule update --init --recursive` return `Not recognized as internal or external command` in cmd

[2017-11-08 04:20] Tamplier commented on #39
Not a `submodule ...`, correct call is `git submodule ...`

[2017-11-08 06:08] mifkys commented on #39
No return after this command

[2017-11-09 04:12] KeizrulAzfar commented on #39
I also got same error like @mifkys , suggestion for any solution?

[2017-11-11 18:54] oguzhansevim commented on #39
I got same error like @mifkys @KeizrulAzfar, any solution?

[2017-11-13 07:48] mifkys opened #48 "INTERSTITIAL shows twice with onLoaded callback"
I am working on app (Angular 2) with cordova-appodeal-plugin.

Initialization code:
[code]

This is console log:

info:

latest version of cordova-appodeal-plugin

[2017-11-13 20:01] oguzhansevim commented on #39
Hi guys! @mifkys , @KeizrulAzfar if you wait the some minutes plugin can be successfully installed!

[2017-11-15 09:19] eyalish opened #49 "update the PhoneGap Builder plugin as well"
Can you update the plugin in the npm packages
https://www.npmjs.com/package/com.appodeal.plugin

[2017-11-15 14:43] Vahn84 opened #50 "Callback firing forever"
Hi, I recently implemented the appodeal plugin in my Cordova app.

Everything is fine except for the fact that when a Banner fails to load it seems to keep trying to load again and again, firing "onFailedToLoad" forever

Calling Appodeal.hide() seems to have 0 effects

[2017-11-15 15:34] Vahn84 commented on #50
From the android logcat:

`11-15 16:24:06.716 21907-21907/com.nextadv.smartphoners I/Ads: Starting ad request.
11-15 16:24:06.717 21907-21907/com.nextadv.smartphoners I/Ads: Use AdRequest.Builder.addTestDevice("B8B853B378E8C36A9506A2A013AF46E6") to get test ads on this device.
11-15 16:24:06.735 21907-6217/com.nextadv.smartphoners D/FA: Logging event (FE): ad_query(_aq), Bundle[{firebase_event_ori

[2017-11-17 12:29] Tamplier commented on #50
@Vahn84 this is auto cache algorithm. The plugin tries to cache banner while your application is working. If you don't want to continue attempts to load an ad, you can use manual caching:
[code]

[2017-11-17 12:45] Tamplier commented on #48
@mifkys it's a bad idea to call show method in onLoaded callback.
Appodeal plugin tries to load an ad while your application is working. In most cases, users want to show interstitials or banners more than one time during a work session. So, that's why our plugin tries to load an ad immediately after you call show for loaded one. And callbacks should work for every single attempt to cache an adver

[2017-11-17 17:10] Vahn84 commented on #50
HI @Tamplier thank you for your support

Am I forced to turn off the autocache before the initialize function, or am I able to turn it off when It fail the first time, and turn it on again the next time it properly loads?

[2017-11-18 12:17] Tamplier commented on #50
@Vahn84 yes, unfortunately, you forced to turn off the auto cache before initialization. The disabling or enabling won't work after calling that function.
Yes, you can initialize banners and don't cache they at all. It has no sense, it leads to useless internet traffic (banner waterfall, for example) but you can =)

[2017-11-23 22:11] lahed commented on #39
does not work = (

[2017-11-27 10:55] #50 closed

[2017-11-27 10:55] #48 closed

[2017-11-27 10:58] Tamplier commented on #39
@lahed can you provide some details?

[2017-11-27 10:59] Tamplier commented on #39
@mifkys @KeizrulAzfar can you confirm that oguzhansevim's solution works for you?

[2017-11-27 11:06] mifkys commented on #48
It is a problem. Even AutoCache for INT ads already disabled (`Appodeal.setAutoCache(Appodeal.INTERSTITIAL, false);` in code above) fullscreen banners loads after every shown event.

[2017-11-27 11:23] mifkys commented on #39
Nope. After 5-10min wait:

[2017-11-27 11:31] oguzhansevim commented on #39
Did you try create a new project and add plugin ? @mifkys

[2017-11-27 11:49] mifkys commented on #39
Yes, just created test2 project, added android platform and execute ionic cordova command. Same error

[2017-11-29 10:29] Tamplier commented on #48
@mifkys can you share your apk?

[2017-11-29 10:42] Tamplier commented on #39
@mifkys try another way to disable fetching:
`cordova config set fetch false`
If it won't help, run `cordova plugin add ...` (without ionic) and send us your output.

[2018-01-17 08:13] eyalish commented on #49
@appodeal

[2018-01-29 12:30] wo-github commented on #18
I have the same problem with Ionic on Android. There is no setBannerOverLap method.
https://ionicframework.com/docs/native/appodeal/

[2018-01-29 13:06] wo-github commented on #39
Same problem here:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'PATH\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'https://github.com/appodeal/appodeal-cordova-plugin.git',
1 verbose cli   '--production',
1 verbose cli   '--save' ]
2 info using npm@5.6.0
3 info using node@v6.9

[2018-01-31 08:52] wo-github opened #51 "Please remove new Permission ACCESS_COARSE_LOCATION"
On Android the user have to confirm a new Permission ACCESS_COARSE_LOCATION, if you using this plugin. Even if you set in the app disableLocationPermissionCheck()
Could you change the plugin, that this permission is optional, only required if the disableLocationPermissionCheck() is not set?

[2018-02-01 06:35] Tamplier commented on #33
@matrixreal
Actually, it isn't the same issue. I recommend you to install the following version of Appodeal plugin to avoid pitfalls:
https://github.com/appodeal/appodeal-cordova-nodex-plugin
And the following plugin to solve your main issue:
https://www.npmjs.com/package/cordova-plugin-multidex

[2018-02-01 06:48] Tamplier commented on #18
@wo-github you need to address this question to ionic team, because they don't have setBannerOverLap method is their wrapper for our plugin:
https://github.com/ionic-team/ionic-native

[2018-02-01 06:58] Tamplier commented on #51
@wo-github please try the following fork:
https://github.com/Tamplier/appodeal-cordova-plugin.git

And you still need to call disableLocationPermissionCheck() to disable toast message.

[2018-02-01 09:27] Tamplier commented on #39
@wo-github
I can't reproduce this. I have the following versions of required software:
Ionic 3.19.1
cordova 8.0.0
npm 5.6.0
node 6.11.3
git 2.11.0.windows.3
If you have older versions, try to update your environment.
Also, ensure that you have enough space (check drive C too), clean your npm cache and try to run command line as administrator.
P.S. Appodeal plugin has big size due to really big amo

[2018-02-01 14:22] matrixreal commented on #33
@Tamplier
ok thank you
i install the 2 plugins ? i mean the 2 links ?
and is it the same as the this master repo ?
thanks

[2018-02-01 19:11] matrixreal commented on #33
build ok thanks

[2018-02-05 08:40] adriano-di-giovanni opened #52 "Could not determine the dependencies of task ':com.appodeal.plugin:adcolony:compileDebugAidl'"
Build on Android fails:

[code]

cordova 7.1.0 || 8.0.0
cordova-android 6.4.0
MacOS 10.13.3

[2018-02-05 08:48] adriano-di-giovanni commented on #52
My workaround is to edit `build.gradle` file of the adcolony project to comment lines

[code]
and add
[code]

[2018-02-09 12:08] adriano-di-giovanni opened #53 "It doesn't work with android@7.0.0"
The plugin makes changes to the AndroidManifest.xml.
The platform android@7.0.0 changes the path of the project files, AndroidManifest.xml included.

[2018-02-09 15:42] Tamplier commented on #53
@adriano-di-giovanni
Hello! Could you provide more information about the issue, please?

[2018-02-11 17:23] adriano-di-giovanni opened #54 "Appodeal.setLogLevel(Appodeal.LogLevel.DEBUG) throws an exception on iOS"
Tested on emulator. The error is blocking. The exception is as follows:

[code]

[2018-02-11 22:57] adriano-di-giovanni opened #55 "Appodeal.show doesn't check if ad is already shown"
`Appodeal.show` doesn't check if ad is already shown:

* invoking `Appodeal.show(Appodeal.BANNER)` if banner is already shown, make the banner flicker
* invoking `Appodeal.show(Appodeal.INTERSTITIAL)` if interstitial is already shown, make the interstitials stack

[2018-02-12 10:15] Tamplier commented on #53
@adriano-di-giovanni
Thank you for the notification. You can try the following version:
cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin.git#cordova-android-7

The changes aren't in the master branch yet.

[2018-02-12 10:38] adriano-di-giovanni commented on #53
Thanks, @Tamplier

[2018-02-15 11:49] adriano-di-giovanni opened #57 "Appodeal.setBannerOverLap behaves differently between platforms"
Invoking `Appodeal.setBannerOverLap(false)` on Android makes the web view and banner view children of a vertical `LinearLayout`. They don't overlap. The behavior is correct. Here is the [code](https://github.com/appodeal/appodeal-cordova-plugin/blob/master/src/android/AppodealPlugin.java#L974-L985) for your convenience.

Invoking `Appodeal.setBannerOverLap(false)`on iOS makes the web view and bann

[2018-03-14 15:36] matrixreal opened #58 "appodeal and chartboost"
hi,
i want to buy installs from chartboost (network advertising) for my apps
and i need to install chartboost sdk separatly
how can i do it ?
thank you

[2018-03-14 16:25] matrixreal commented on #58
**solution by Yaroslav (Appodeal Team) thanks a lot**

"We have our repository with Cordova mulidex plugin
https://github.com/appodeal/appodeal-cordova-nodex-plugin
fork it
delete "chartboost.jar" from libs -> Android

delete chartboost mention from plugin.xml

And disable chartboost before sdk initialisation in code: Appodeal.disableNetwork("chartboost");

[2018-03-15 06:47] Tamplier commented on #58
@matrixreal
Yes, Yaroslav is right, but you can also use base (this one) version and multidex version of the plugin.
To remove chartboost in those versions you need open appodeal.jar with your favorite archiver and delete assets/dex/chartboost.dex (or any other network) file.
Also, you still need to disable network with Appodeal.disableNetwork method. No changes in plugin.xml are required.

Feel f

[2018-03-15 06:47] #58 closed

[2018-03-15 20:32] matrixreal commented on #58
Hello again,
i have 2 questions :

1- it is same steps to remove others networds ? (examples adcolony)

2- i'm using appodeal multi dex plugin when i open appodeal-2.1.7.jar and search for the path you say i don't find chartboost.dex the folder assets/dex/ is empty.

thanks a lot

[2018-03-19 10:34] Tamplier commented on #58
@matrixreal
We have 3 versions of Appodeal plugin for cordova. Base, maxdex and nodex. There are no dex files in appodeal.jar in case if you use nodex version. In other cases, a network can be located inside appodeal.jar (dex file) or in libs/Android directory (as a jar file). Not in both locations at the same time.

I just want to say that you can remove any network from any version of our plugin

[2018-04-02 08:59] monaco11001 commented on #53
After build project construct 2 with android studio, I have issue with this plugin:
Could not get unknown property 'cdvCompileSdkVersion' for object of type com.android.build.gradle.LibraryExtension.

[2018-04-11 13:31] matrixreal opened #60 "update the status bar plugin for iphone x"
Hello
since the status bar plugin is not showing status bar properly on iphone x
can you update your plugin https://github.com/appodeal/cordova-plugin-statusbar to the latest https://github.com/apache/cordova-plugin-statusbar
they did fix that issue
thank you

[2018-04-25 10:13] matrixreal commented on #54
same here ... any solution ?

[2018-04-26 08:16] gartorware commented on #53
I'm facing the same issue as the previous message.
I have disabled adcolony network as a workaround, but would be nice to have it working.

[2018-04-26 22:44] gartorware commented on #53
I have to delete this line too to success at install
`    	<framework src="src/android/dependency_fix.gradle" custom="true" type="gradleReference" />
`

[2018-05-04 08:22] matrixreal opened #61 "Appodeal.setLogLevel(Appodeal.LogLevel.DEBUG) crash on iOS"
hello
can you fix that ios debuglevel (none,verbose and debug) is crashing
 2018-02-11 18:15:22.349 Appodeal Wrapper Example[1332:4708507] *** WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSRangeException> *** -[__NSArrayM objectAtIndex:]: index 1 beyond bounds [0 .. 0]
thank you

[2018-05-09 17:30] matrixreal commented on #61
@NazarKozak
hello
can you fix that bug please ?
thanks

[2018-05-14 22:53] rodrigograca31 commented on #53
Meh..... errors.... I wont even try to solve it....
this brings all types of ad networks, it would probably turn my 3MB app into 30MB ....
I don't think I'm going to use appodeal.....

[2018-05-22 00:34] matrixreal opened #62 "update tutorial"
Hello,
the new update tutorial is so complicated

1- can you please do it on this repo for android and ios ?
2- are we forced to update to that GDPR friendly sdk ?
3 - and please finally fix that issue https://github.com/appodeal/appodeal-cordova-plugin/issues/61

thank you

[2018-05-23 07:27] adriano-di-giovanni opened #63 "Do you plan to update the SDKs to the GDPR compliant versions?"
Do you plan to update the SDKs to the GDPR compliant versions?

[2018-05-25 02:31] matrixreal commented on #63
+1

[2018-05-25 02:32] matrixreal commented on #54
hello
@adriano-di-giovanni
did you fix it ?

[2018-06-07 03:21] sirg2003 commented on #63
+1

[2018-06-23 09:18] dreamiolab opened #64 "Interstitials setAutoCache problem"
Hello,
skippable video is now merged with interstitial. I use a Appodeal.setAutoCache(Appodeal.INTERSTITIAL, false) but it works only on interstitial STATIC. Interstitial VIDEO always auto cache next video after Appodeal.show(Appodeal.INTERSTITIAL). Check "onLoaded" event after show interstitial STATIC and after show interstitial VIDEO.

I have same problem with appodeal/appodeal-cordova-nodex-plu

[2018-07-08 12:33] eyalish opened #65 "Can't compile 2.1.11"
Using PGB
GMS 11.4.2
We receive in log:
"> Could not resolve all dependencies for configuration ':_debugApkCopy'.

Does compile over Windows app.

[2018-07-08 13:25] eyalish commented on #65
Solved after updating GMS version & changing phonegap version to cli-7.1.0 (6.3.0).

[2018-07-08 13:26] #65 closed, assigned to nobody

[2018-07-09 17:01] vladtret opened #66 "Update SDK version - iOS"
Trying to submit an update to App Store, I received following message from the review team (rejected):
"To resolve this issue, please either remove the Yandex SDK entirely from your app, or revise your app to utilize version 2.9.8 or 3.1.2 of the Yandex SDK. Once you have made one of those changes, resubmit your binary for review."

Appodeal SDK uses Yandex SDK, so this causes the issue. could you

[2018-08-24 08:18] gkouk commented on #66
I have the same issue, are you going to fix this in cordova plugin or you don't support it anymore?

[2018-08-24 08:22] vladtret commented on #66
not supported anymore

[2018-09-03 08:50] jonutz commented on #52
I have a similar problem:

[code]

I have comment out those line as you did, and the error persists. Any news @adriano-di-giovanni ?

[2018-09-03 14:19] faycaltchiko opened #67 "Cant get the plugin with ionic 3 and cordova"
Hello,

I'm using Ionic 3 and cordova under Mac Os without Android Studio, when i run the command :
cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin.git

I got this error :

Installing "com.appodeal.plugin" for android
Failed to install 'com.appodeal.plugin': Error: ENOENT: no such file or directory, open '/Users/faycal/Downloads/ionic/islamicnames/platforms/android/AndroidMa

[2018-09-28 10:16] diegoestacho999 commented on #67
Good morning, with the same problem here. Can you solve it?

[2018-09-28 13:22] diegoestacho999 opened #68 "Problems running the command ionic cordova run android"
I'm having this error below, when trying to run the project on the emulator / cell for testing, does anyone know how to solve it?

* Where:
Build file 'C:\Users\Diego\Desktop\appodeal-testar\platforms\android\com.appodeal.plugin\starter-adcolony\build.gradle' line: 48

* What went wrong:
A problem occurred evaluating project ':com.appodeal.plugin:starter-adcolony'.

* Try:
Run with --stacktrace op

[2018-11-22 10:26] eyalish commented on #65
Unfortunately this plugin doesn't support new Facebook Audience network
can't work with their latest API.
let us know if you plan to update this plugin anytime soon
@appodeal

[2018-12-28 21:34] onemoredayApp commented on #67
Same problem!! Can solve it?

[2018-12-28 21:40] onemoredayApp opened #69 "ionic command not working"
hi, this command not work:
ionic cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin.git
any solution?

[2019-01-24 07:44] mifkys commented on #66
how can I fix this manually?

[2019-03-28 08:24] eyalish opened #71 "Does this still work in 2019?"
With PGB (Builder) and remote repo
question to those who forked this.....

[2019-05-07 17:47] rmatosaw commented on #68
Have you solved the problem?
We had the same problem today.
Solved doing this:
1) execute ionic cordova prepare
2) remove platform and install again
3) adjust firebase (something went wrong after the gradle update)

After 8 hours trying different solutions. Alive!

[2019-07-05 16:15] OmkarFatale commented on #52
I'm still having the same issue,
Could not determine the dependencies of task ':com.appodeal.plugin:mobvista_videofeeds:compileDebugAidl'.

     Required by:
         project :com.appodeal.plugin:mobvista_videofeeds

@adriano-di-giovanni 's solution did not work.

This is my ionic info

√ Gathering environment info - done!

Ionic:

   ionic (Ionic CLI)  : 4.2.1 (C:\Users\DRAGONBALL\AppData\Roaming

[2019-07-15 06:18] NBAMj commented on #63
Your response will be much appreciated on this matter.

[2019-07-15 06:36] NBAMj commented on #71
I just contacted them and they said they stopped supporting the Cordova plugin.

Further details here: https://blog.appodeal.com/framework-policy-changes/

[2019-07-18 18:08] ysdidenko commented on #63
They told that they are not supporting the Phonegap and Corona anymore. Means no effort from their side to update those plugins :(
The only solutions I can see so far are:
- move to Unity or Unreal or Corona (Corona is not supported officially too, but they do update the appodeal plugin themselves)
- update the Cordova plugin by ourselves :/

[2019-08-08 12:32] Thomas0921 commented on #69
I am facing the same problem. It just stuck at
`cordova plugin add https://github.com/appodeal/appodeal-cordova-plugin.git --save`
and didnt progress...

[2020-01-09 12:23] matrixreal opened #72 "security alert ... google removes all my games"
Hello, i know that you stopped support for cordova but at least help us to fix this security alert ... google removes all my games ... please help

"Your application contains a WebView component which is vulnerable to flaws related to JavaScript interface injection. For more information, please see this Google Help Center article.

Vulnerable sections:

**com.startapp.android.publish.adsCommon.adi

[2020-02-05 14:58] matrixreal opened #73 "updating to latest ios version"
hello guys,
can anyone update to latest appodeal ios version please?
got apple rejection
"To resolve this issue, please either remove the Yandex SDK entirely from your app, or revise your app to utilize version 2.9.8 or 3.1.2 of the Yandex SDK. Once you have made one of those changes, resubmit your binary for review."
thanks

[2020-10-14 05:26] zenrabanes opened #74 "FAILURE: Build failed with an exception."
* What went wrong:
Unable to start the daemon process.
This problem might be caused by incorrect configuration of the daemon.
For example, an unrecognized jvm option is used.
Please refer to the User Manual chapter on the daemon at https://docs.gradle.org/6.5/userguide/gradle_daemon.html
Process command line: C:\Program Files (x86)\Java\jre1.8.0_241\bin\java.exe -Xmx1536M -Dfile.encoding=windows-1

[2020-10-14 05:27] #74 closed, assigned to nobody

[2020-12-11 13:22] eliadAfeka commented on #73
hi,

is this plugin maintained?

[2021-03-13 16:42] wcooperscott commented on #73
It hasn't been updated in years, however it is only a wrapper to the actual SDK. So the plugin may never need to be updated as long as the SDK keeps the same public methods to call.

[2021-11-15 05:20] gean01 opened #75 "Instructions are obsolete"
Instructions point to a link to download SDK that no longer works.

[2021-11-22 08:48] loadit1 commented on #75
As per Appodeal' blog post, they stops supporting this plugin: https://appodeal.com/blog/framework-policy-changes/ and it seems like this plugin is not working anymore.